


.music-player {

  &-container {
    width: 100%;
    max-height: 340px;
    background-color: #F2F2F2;
    overflow: hidden;
    border-radius: 0px 0px 8px 8px;
    -webkit-border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    -ms-border-radius: 0px 0px 8px 8px;
    -o-border-radius: 0px 0px 8px 8px;
  }

  &-media {

    margin: 16px;

    &-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 8px;
    }

    &-image-container {
      img {
        height: 96px;
        width: 96px;
      }
    }

    &-action-container {
      cursor: pointer;
      margin-left: 16px;

      img {
        height: 48px;
        width: 48px;
      }
    }
  }

  &-progress-bar {
    background-color: #DADEE0;

    &-completed {
      height: 4px;
      width: 50%;
    }
  }

  &-list {
    max-height: 300px;
    overflow-y: auto;
  }

  &-item {
    height: 60px;
    display: flex;
    align-items: center;
    width: 97%;
    margin-left: auto;

    &-link {
      cursor: pointer;

      &:hover {
        background-color: #F5F7F8;
      }
    }

    &-logo {
      margin-top: 8px;
    }

    &-info {
      flex: 1 1 auto;
      margin-left: 16px;
    }

    &-actions {
      margin-right: 16px;
    }

    &-nav {
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -o-transform: rotate(270deg);
    }


    &-divider {
      width: 97%;
      border-bottom: 1px solid #DADEE0;
      margin-left: auto;
    }
  }
}
