

.link {
  &-container {
    min-height: 48px;
    width: 100%;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}
}
