<ng-container *ngIf="{
  settings: linkSettings$ | async,
  isExpanded: isExpanded$ | async
} as state">
  <div
    class="link-container"
    >
    <div
      [style.background]="state.settings?.backgroundColor || defaultBackgroundColor"
      [style.color]="state.settings?.color || defaultColor"
      [class.link-expanded]="state.isExpanded"
      class="link-main" (click)="onLinkClick()">
      <span >{{ title }}</span>
    </div>
    <ng-container *ngIf="state.isExpanded">
      <ng-content></ng-content>
    </ng-container>
  </div>
</ng-container>
