<div class="profile">
  <div class="profile-container">
    <div class="profile-header">
      <img class="profile-header__image" src="/assets/profile-picture.png" alt="profile picture">
      <div>@{{ profileName$ | async }}</div>
    </div>
    <div class="profile-links">
      <ng-container *ngFor="let link of links$ | async">
        <div class="profile-link">
          <ng-container [ngSwitch]="link.type">
            <ng-container *ngSwitchCase="linkType.Music">

            </ng-container>
            <ng-container *ngSwitchCase="linkType.Shows">

            </ng-container>
            <ng-container *ngSwitchCase="linkType.Classic">
              <app-classic-link [link]="link"></app-classic-link>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>

    </div>
  </div>
</div>
